@mixin button (
    $border-radius: 4px,
    $border: 0,
    $color: $color-white,
    $font-size: 18px,
    $text-align: center,
    $height: 41px,
    $backgound-color: $color-blue,
    $display: block
    ) {
      appearance: none;
      border: {
        width: $border;
        radius: $border-radius;
        size: border-box;
      }
      color: $color;
      display: $display;
      font-size: $font-size;
      height: $height;
      outline: 0;
      overflow: hidden;
      position: relative;
      text-align: $text-align;
      background-color: $backgound-color;
      box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, // 外阴影改为内阴影
                0 -3px rgba(0,0,0,.18) inset;
      box-shadow: 0;
      &:visited {
      color: #666;
    }
      &:active {
      border-top: 1px solid transparent;
      box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    }
  }

  @mixin cell ($display:block) {
    background-color: $color-white;
    box-sizing: border-box;
    color: inherit;
    min-height: 48px;
    overflow: hidden;
    display: block;
    position: relative;
    text-decoration: none;
  }